@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Lato", sans-serif;
  color: #222;
}

section {
  width: 100%;
  padding: 0 50px 70px 50px;
  background: rgb(238, 238, 238);
  background: linear-gradient(194deg, rgb(230, 228, 228) 50%, rgb(215, 215, 215) 50%);
}

a {
  color: inherit;
  text-decoration: none;
}

.main-color {
  color: rgb(190, 0, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fa-solid {
  margin-right: 30px;
}

header {
  background-image: url("../img/header-image.webp");
  background-size: cover;
  height: 100vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #ddd;
}
header .top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
header .title {
  font-size: 5vw;
  text-shadow: 5px 5px 5px rgba(34, 34, 34, 0.7);
  position: relative;
}
header .title::after {
  content: "";
  position: absolute;
  width: 0.8vw;
  height: 0.8vw;
  bottom: 0;
  margin: 0 0 1vw 1vw;
  background-color: rgb(190, 0, 0);
  box-shadow: 5px 5px 5px rgba(34, 34, 34, 0.7);
}
header .menu {
  display: flex;
  list-style: none;
}
header .menu__element {
  font-size: 2vw;
  margin-left: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  text-shadow: 2px 2px 2px rgba(34, 34, 34, 0.7);
}
header .menu__element::after {
  content: "";
  display: block;
  width: 0;
  height: 8%;
  margin-top: 6px;
  background: rgb(190, 0, 0);
  transition: width 0.4s;
}
header .menu__element:hover::after {
  width: 100%;
}
header .arrows {
  width: 60px;
  height: 100px;
  position: absolute;
  left: 50%;
  bottom: 2vh;
  margin-left: -30px;
  transform: scale(1);
}
header .arrows__one {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
header .arrows__two {
  -webkit-animation-delay: -0.25s;
          animation-delay: -0.25s;
}
header .arrows__three {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
header path {
  stroke: #ddd;
  fill: transparent;
  stroke-width: 5px;
  -webkit-animation: arrows 2s infinite;
          animation: arrows 2s infinite;
}
@-webkit-keyframes arrows {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes arrows {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 1400px) {
  header .title {
    text-shadow: 4px 4px 4px rgba(34, 34, 34, 0.7);
  }
  header .title::after {
    box-shadow: 4px 4px 4px rgba(34, 34, 34, 0.7);
  }
  header .menu__element {
    text-shadow: 1px 1px 1px rgba(34, 34, 34, 0.7);
  }
  header .arrows {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 992px) {
  header .top-section {
    padding: 0 20px;
  }
  header .title {
    font-size: 50pt;
  }
  header .title::after {
    width: 10px;
    height: 10px;
    margin: 0 0 1.4vw 1vw;
  }
  header .menu__element {
    font-size: 20px;
    margin-left: 30px;
  }
  header .menu__element::after {
    margin-top: 3px;
  }
  header .arrows {
    transform: scale(0.7);
  }
}
@media screen and (max-width: 768px) {
  header {
    background-position: 35%;
  }
  header .top-section {
    flex-direction: column;
    padding: 0;
  }
  header .title {
    font-size: 13vw;
    text-shadow: 2px 2px 2px rgba(34, 34, 34, 0.7);
  }
  header .title::after {
    box-shadow: 2px 2px 2px rgba(34, 34, 34, 0.7);
    width: 2vw;
    height: 2vw;
    margin: 0 0 2.5vw 1.5vw;
  }
  header nav {
    width: 100%;
    padding: 0 100px;
  }
  header .menu {
    margin-top: 25px;
    justify-content: space-around;
  }
  header .menu__element {
    font-size: 3.5vw;
    margin: 0;
  }
}
@media screen and (max-width: 576px) {
  header .title {
    font-size: 16vw;
  }
  header .title::after {
    width: 2.7vw;
    height: 2.7vw;
    margin: 0 0 3vw 2vw;
  }
  header nav {
    padding: 0 50px;
  }
  header .menu {
    margin-top: 15px;
  }
  header .menu__element {
    font-size: 5vw;
  }
  header .menu__element::after {
    height: 9%;
  }
  header .arrows {
    transform: scale(0.6);
  }
}

main .about {
  text-align: justify;
  line-height: 1.8;
}
main .about__header {
  font-size: 4vw;
  text-align: center;
}
main .about__paragraph {
  font-size: 1.5vw;
}
@media screen and (max-width: 992px) {
  main .about__paragraph {
    font-size: 1.8vw;
  }
}
@media screen and (max-width: 768px) {
  main .about {
    line-height: 1.6;
  }
  main .about__header {
    font-size: 7vw;
  }
  main .about__paragraph {
    font-size: 2vw;
  }
}
@media screen and (max-width: 576px) {
  main .about {
    line-height: 1.5;
    padding: 0 25px 35px 25px;
  }
  main .about__header {
    font-size: 8vw;
    padding: 10px 0;
  }
  main .about__paragraph {
    font-size: 3.5vw;
  }
}
main .hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.85;
  height: 100vh;
  background-image: url("../img/hero-image.webp");
  background-size: cover;
}
main .hero-image__header {
  text-align: center;
  color: white;
  text-shadow: 4px 4px 4px rgba(34, 34, 34, 0.7);
  font-size: 7vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (max-width: 1400px) {
  main .hero-image__header {
    text-shadow: 3px 3px 3px rgba(34, 34, 34, 0.7);
  }
}
@media screen and (max-width: 992px) {
  main .hero-image__header {
    font-size: 8vw;
  }
}
@media screen and (max-width: 768px) {
  main .hero-image {
    background-position: 30%;
  }
  main .hero-image__header {
    font-size: 9vw;
    text-shadow: 2px 2px 2px rgba(34, 34, 34, 0.7);
  }
}
@media screen and (max-width: 576px) {
  main .hero-image {
    padding: 0 25px 35px 25px;
  }
  main .hero-image__header {
    font-size: 10vw;
  }
}
main .team__header {
  font-size: 4vw;
  text-align: center;
  padding: 30px;
}
main .team__content {
  display: flex;
  justify-content: space-around;
}
main .card {
  position: relative;
  height: 80vh;
  width: 25%;
  background-color: #fff;
  background-size: cover;
  text-align: center;
  border-radius: 15px;
  box-shadow: 6px 6px 6px rgba(34, 34, 34, 0.7);
  overflow: hidden;
}
main .card--one {
  background-image: url("../img/Anna-Kowalska-CEO.webp");
  background-position: 45% center;
}
main .card--two {
  background-image: url("../img/Jan-Nowak-HR.webp");
  background-position: 60% 0%;
  background-size: 150%;
}
main .card--three {
  background-image: url("../img/Adam-Wiśniewski-IT.webp");
  background-position: 80% center;
}
main .card__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  color: #fff;
  background: none;
  border: none;
  font-size: 36px;
  text-shadow: 3px 3px 3px rgba(34, 34, 34, 0.7);
  cursor: crosshair;
  z-index: 1;
}
main .card__btn:hover ~ .card__text {
  -webkit-clip-path: circle(120% at 50% 50%);
          clip-path: circle(120% at 50% 50%);
}
main .card__text {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 80px 30px;
  text-align: justify;
  color: #ddd;
  font-size: 1vw;
  opacity: 0.9;
  -webkit-clip-path: circle(0 at 50% 90%);
          clip-path: circle(0 at 50% 90%);
  transition: -webkit-clip-path 0.8s;
  transition: clip-path 0.8s;
  transition: clip-path 0.8s, -webkit-clip-path 0.8s;
  background-color: rgba(0, 0, 0, 0.85);
}
main .card__text__header {
  color: rgb(190, 0, 0);
  font-size: 50pt;
  text-align: center;
}
main .card__text__person {
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (max-width: 1400px) {
  main .card--two {
    background-size: 190%;
  }
  main .card--three {
    background-position: 80% center;
  }
  main .card__btn {
    font-size: 2.5vw;
    padding: 0 0 20px 20px;
  }
  main .card__text {
    padding: 40px 15px;
    font-size: 0.9vw;
  }
  main .card__text__header {
    font-size: 3vw;
  }
  main .card__text__person {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 992px) {
  main section {
    padding: 0 25px 15px 25px;
  }
  main .team__content {
    flex-direction: column;
    justify-content: center;
  }
  main .card {
    width: 55%;
    height: 85vh;
    margin: 0 auto 40px auto;
  }
  main .card--two {
    background-size: 160%;
  }
  main .card__btn {
    font-size: 3vw;
  }
  main .card__text {
    font-size: 2vw;
  }
  main .card__text__header {
    font-size: 5vw;
  }
}
@media screen and (max-width: 768px) {
  main .team__header {
    font-size: 7vw;
  }
  main .card {
    width: 55%;
    height: 70vh;
  }
  main .card--two {
    background-size: 150%;
  }
  main .card__btn {
    font-size: 5vw;
  }
  main .card__text__header {
    font-size: 6vw;
  }
}
@media screen and (max-width: 576px) {
  main .team {
    padding: 0;
  }
  main .team__header {
    font-size: 8vw;
  }
  main .card {
    width: 85%;
    height: 50vh;
  }
  main .card--two {
    background-size: 220%;
  }
  main .card--three {
    background-position: 80%;
  }
  main .card__btn {
    font-size: 7vw;
  }
  main .card__text {
    font-size: 3vw;
  }
  main .card__text__header {
    font-size: 7vw;
  }
}

.contact {
  display: flex;
  justify-content: space-around;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  padding-top: 1vh;
}
.contact .form__title {
  margin: 4vh;
  font-size: 6vh;
  font-weight: 700;
}
.contact .form__alternate {
  font-size: 0;
  font-weight: 700;
}
.contact .form__input, .contact .form__submit {
  width: 40vh;
  height: 2vw;
  border: 0;
  margin-bottom: 1vh;
  font-size: 1.1vw;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: width 0.25s, box-shadow 0.25s;
}
.contact .form__input {
  background-color: #fff;
  color: #555;
}
.contact .form__input:hover, .contact .form__input:focus {
  outline: none;
  width: 45vh;
  box-shadow: 3px 3px 3px rgba(34, 34, 34, 0.7);
}
.contact .form__message {
  width: 40vh;
  height: 10vw;
  font-size: 1.1vw;
  font-family: inherit;
  text-align: center;
  color: #555;
  border: 0;
  margin-bottom: 1vh;
  padding: 1vh;
  transition: width 0.25s, padding 0.25s, box-shadow 0.25s;
  resize: none;
}
.contact .form__message:hover, .contact .form__message:focus {
  width: 45vh;
  padding: 1vh 3.5vh;
  box-shadow: 3px 3px 3px rgba(34, 34, 34, 0.7);
  outline: none;
}
.contact .form__submit {
  cursor: pointer;
  color: #eee;
  background-color: rgb(190, 0, 0);
}
.contact .form__submit:hover, .contact .form__submit:focus {
  width: 45vh;
  box-shadow: 3px 3px 3px rgba(34, 34, 34, 0.7);
  outline: none;
}
.contact .map__title {
  font-size: 6vh;
  font-weight: 700;
  margin: 4vh;
}
.contact .map__content {
  width: 32vw;
  height: 42vh;
  border: 0;
  box-shadow: 3px 3px 3px rgba(34, 34, 34, 0.7);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.contact .map__label {
  display: block;
  font-size: 2.5vw;
  margin-top: 3vh;
  cursor: text;
}
@media screen and (max-width: 1400px) {
  .contact {
    justify-content: space-between;
  }
}
@media screen and (max-width: 992px) {
  .contact .form__title {
    font-size: 5vw;
  }
  .contact .form__input, .contact .form__submit {
    height: 4vw;
    font-size: 1.5vw;
  }
  .contact .form__message {
    height: 14vw;
    font-size: 1.5vw;
  }
  .contact .map__title {
    font-size: 5vw;
  }
}
@media screen and (max-width: 768px) {
  .contact {
    flex-direction: column;
    padding: 0 30px;
  }
  .contact .form__title {
    font-size: 0;
    margin: 0;
  }
  .contact .form__alternate {
    margin: 20px 0;
    font-size: 5vw;
  }
  .contact .form__input, .contact .form__submit {
    height: 5vw;
    width: 55vw;
    font-size: 2.6vw;
  }
  .contact .form__input:hover, .contact .form__input:focus, .contact .form__submit:hover, .contact .form__submit:focus {
    width: 57vw;
  }
  .contact .form__message {
    height: 20vw;
    width: 55vw;
    font-size: 2.6vw;
  }
  .contact .form__message:hover, .contact .form__message:focus {
    width: 57vw;
  }
  .contact .map__title {
    font-size: 0;
    margin: 10px;
  }
  .contact .map__content {
    width: 55vw;
    height: 60vh;
  }
  .contact .map__label {
    font-size: 3.5vw;
    margin-bottom: 4vw;
  }
  .contact .fa-solid {
    margin-right: 10px;
  }
}
@media screen and (max-width: 576px) {
  .contact .form__alternate {
    font-size: 7vw;
  }
  .contact .form__input, .contact .form__submit {
    height: 8vw;
    width: 70vw;
    font-size: 3.5vw;
  }
  .contact .form__input:hover, .contact .form__input:focus, .contact .form__submit:hover, .contact .form__submit:focus {
    width: 72vw;
  }
  .contact .form__message {
    height: 30vw;
    width: 70vw;
    font-size: 3.5vw;
  }
  .contact .form__message:hover, .contact .form__message:focus {
    width: 72vw;
  }
  .contact .map__content {
    width: 70vw;
    height: 50vh;
  }
  .contact .map__label {
    font-size: 5vw;
  }
}

footer .footer__content {
  font-size: 1vw;
  padding: 15px;
  color: #eee;
  text-align: center;
}
@media screen and (max-width: 992px) {
  footer .footer__content {
    font-size: 1.7vw;
    padding: 5px;
  }
}
@media screen and (max-width: 576px) {
  footer .footer__content {
    font-size: 2vw;
    padding: 5px;
  }
}/*# sourceMappingURL=main.css.map */