@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHvxk.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVew8.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgba(0, 0, 0, 0.8);
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #222;
}
a {
  text-decoration: none;
  color: inherit;
}
span {
  color: #be0000;
  user-select: none;
}
header {
  background-image: url('../img/header.webp');
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  padding: 2vh;
  font-weight: 400;
  user-select: none;
  color: #eee;
}
header .item {
  float: left;
  text-align: center;
  padding: 1vw;
  font-size: 5vh;
  line-height: 2vw;
  margin-top: 3.5vh;
}
header div.item::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  margin-top: 1vh;
  background: #be0000;
  transition: width 0.3s;
}
header div.item:hover::after {
  width: 100%;
}
header div.item {
  font-size: 4vh;
  cursor: pointer;
}
header .menu {
  margin-top: 1vh;
  margin-right: 10vh;
}
header h1 {
  font-size: 8vw !important;
  font-weight: 700;
  margin-left: 2vw;
}
header h1 .square {
  height: 50px;
  width: 50px;
  color: #be0000;
}
header nav {
  float: right;
}
header .arrows {
  width: 60px;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 2vh;
}
header .arrows path {
  stroke: #fff;
  fill: transparent;
  stroke-width: 6px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}
@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
header .arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
}
header .arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}
header .arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
main section {
  margin: 0;
  width: 100%;
  padding: 5vh;
  background-color: #eee;
}
main section#about {
  padding-top: 2vh;
  text-align: justify;
  font-size: 1.5vw;
  line-height: 150%;
}
main section#about h2 {
  font-size: 4vw;
  text-align: center;
}
main section.image {
  background-image: url('../img/second.webp');
  background-size: cover;
  opacity: 0.85;
  height: 100vh;
}
main section.image h1 {
  color: white;
  text-align: center;
  font-size: 12vh;
  margin-top: 30vh;
  user-select: none;
}
main section#projects {
  overflow: hidden;
}
main section#projects h2 {
  margin-top: -0.2vh;
  font-size: 4vw;
  text-align: center;
}
main section#projects .container {
  display: inline-flex;
  justify-content: space-evenly;
}
main section#projects .container .part {
  text-align: center;
  user-select: none;
  background-color: #bbb;
  height: auto;
  width: 30%;
  padding: 3vh;
  margin: 2vh;
  flex-basis: auto;
  transition: 0.25s;
}
main section#projects .container .part h1 {
  text-align: center;
  font-size: 5vh;
  margin-top: 2vh;
}
main section#projects .container .part img {
  width: 90%;
}
main section#projects .container .part p {
  margin-top: 5vh;
  text-align: justify;
}
main section#projects .container .part:hover {
  transform: rotate(4deg);
  cursor: pointer;
  background-color: #aaa;
}
main section#contact {
  height: 90vh;
  background-color: #bbb;
  margin: 0;
  text-align: center;
  padding-top: 1vh;
}
main section#contact .title {
  font-size: 6vh;
  margin: 4vh;
  font-weight: 700;
}
main section#contact aside.form {
  float: left;
  width: 40%;
}
main section#contact aside.form input[type=text] {
  width: 35vh;
  height: 2vw;
  margin-bottom: 1vh;
  font-size: 1.1vw;
  text-align: center;
  transition: 0.25s;
  background-color: white;
  border: 0;
  user-select: none;
  color: #666;
}
main section#contact aside.form input[type=text]:hover,
main section#contact aside.form input[type=text]:focus {
  width: 40vh;
  box-shadow: 3px 3px #222;
}
main section#contact aside.form textarea {
  width: 35vh;
  height: 10vw;
  font-size: 1.1vw;
  font-family: inherit;
  text-align: center;
  padding: 1vh;
  border: 0;
  transition: 0.25s;
  resize: none;
  color: #666;
}
main section#contact aside.form textarea:hover,
main section#contact aside.form textarea:focus {
  box-shadow: 3px 3px #222;
  width: 40vh;
  padding-right: 3.5vh;
  padding-left: 3.5vh;
}
main section#contact aside.form button {
  width: 35vh;
  height: 2vw;
  margin: 1vh;
  transition: 0.25s;
  cursor: pointer;
  color: whitesmoke;
  background-color: #be0000;
  border: 0;
}
main section#contact aside.form button:hover,
main section#contact aside.form button:focus {
  width: 40vh;
  background-color: #a00000;
  box-shadow: 3px 3px #222;
}
main section#contact aside.form div.g-recaptcha {
  width: 98%;
  margin: 1vh;
}
main section#contact aside.form div.g-recaptcha div {
  margin-left: auto;
  margin-right: auto;
}
main section#contact aside.form p {
  user-select: none;
  margin-top: 0;
}
main section#contact aside.form p.error {
  color: #be0000;
}
main section#contact aside.form p.success {
  color: green;
}
main section#contact aside.map {
  float: right;
  width: 40%;
}
main section#contact aside.map iframe {
  width: 32vw;
  height: 42vh;
  user-select: none;
}
main section#contact aside.map label {
  display: block;
  font-size: 2.5vw;
  margin: 3vh;
}
footer {
  color: whitesmoke;
  text-align: center;
}
