@media screen and (max-width: 1000px) {
    header {
        background-position: 35%;

        .item {
            float: none;
            display: block;
            text-align: center;
            margin-top: 2vh;
            font-size: 3vh;
        }

        h1 {
            font-size: 13vw !important;
            margin-top: 4vh !important;
        }

        div.item {
            font-size: 3vh;
            margin-top: 2vh;
        }

        div.item::after {
            margin-left: 38%;
            height: 2px;
            margin-top: 2vh;
        }

        div.item:hover::after {
            width: 24%;
            margin-left: 38%;
        }

        .menu {
            margin-top: 12vh;
            margin-right: 0;
            margin-bottom: -2vh;
        }

        nav {
            float: none;
        }
    }

    main {
        section#about {
            font-size: 2vh;
            padding: 3vh;

            h2 {
                font-size: 12vw;
                margin-top: -1vh;
                margin-bottom: 3vh;
                line-height: normal;
            }
        }

        section.image {
            background-position: 38%;

            h1 {
                font-size: 8vh;
            }
        }

        section#projects {
            h2 {
                font-size: 12vw;
                margin-top: -1vh;
                margin-bottom: 2.5vh;
            }

            .container {
                height: 200vh;
                flex-direction: column;

                .part {
                    width: auto;
                    height: auto;
                    padding: 2vh;
                    margin-left: 0;
                    margin-right: 0;

                    h1 {
                        font-size: 5vh;
                        margin-bottom: 2vh;
                        margin-top: -.5vh
                    }

                    img {
                        width: 100%;
                    }

                    p {
                        margin-top: 1vh;
                        font-size: 2.3vh;
                    }
                }

                .part:hover {
                    transform: rotate(2deg);
                }
            }
        }

        section#contact {
            height: auto;

            .title {
                margin: 4vh;
                margin-top: 2vh;
                text-align: center;
                font-size: 11vw;
            }

            aside.form {
                float: none;
                width: 100%;
                margin-bottom: 8vh;

                input[type=text] {
                    width: 32vh;
                    height: 4.5vh;
                    font-size: 2vh;
                }

                input[type=text]:hover,
                input[type=text]:focus {
                    width: 35vh;
                }

                textarea {
                    width: 32vh;
                    height: 15vh;
                    font-size: 2vh;
                }

                textarea:hover,
                textarea:focus {
                    width: 35vh;
                    padding-left: 2.5vh;
                    padding-right: 2.5vh;
                }

                button {
                    width: 32vh;
                    height: 4.5vh;
                }

                button:hover,
                button:focus {
                    width: 35vh;
                }

                div.g-recaptcha {
                    width: 90%;
                }
            }

            aside.map {
                float: none;
                width: 100%;

                iframe {
                    width: 100%;
                }

                label {
                    font-size: 6vw;
                }
            }
        }
    }
}