@media screen and (max-width: 600px) {
  header {
    background-position: 35%;
  }
  header .item {
    float: none;
    display: block;
    text-align: center;
    margin-top: 2vh;
    font-size: 3vh;
  }
  header h1 {
    font-size: 7vh !important;
    margin-top: 4vh !important;
  }
  header div.item {
    font-size: 3vh;
    margin-top: 2vh;
  }
  header div.item::after {
    margin-left: 38%;
    height: 2px;
    margin-top: 2vh;
  }
  header div.item:hover::after {
    width: 24%;
    margin-left: 38%;
  }
  header .menu {
    margin-top: 12vh;
    margin-right: 0;
    margin-bottom: -2vh;
  }
  header nav {
    float: none;
  }
  main section#about {
    font-size: 1.6vh;
    padding: 3vh;
  }
  main section#about h2 {
    font-size: 7vw;
    margin-top: -0.1vh;
  }
  main section.image {
    background-position: 38%;
  }
  main section.image h1 {
    font-size: 8vh;
  }
  main section#projects h2 {
    font-size: 7vw;
    margin-top: -0.1vh;
  }
  main section#projects .container {
    height: 200vh;
    flex-direction: column;
  }
  main section#projects .container .part {
    width: auto;
    padding: 2vh;
  }
  main section#projects .container .part h1 {
    font-size: 5vh;
    margin-bottom: 2vh;
    margin-top: -0.5vh;
  }
  main section#projects .container .part img {
    width: 100%;
  }
  main section#projects .container .part p {
    margin-top: 1vh;
    font-size: 2.3vh;
  }
  main section#projects .container .part:hover {
    transform: rotate(2deg);
  }
  main section#contact {
    height: 200vh;
  }
}
