$white: #fff;
$darker-light: #eee;
$light-gray: #ddd;
$gray: #555;

$main-color: rgb(190, 0, 0);
$shadow-color: rgba(34, 34, 34, 0.7);

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: rgba(0, 0, 0, 0.8);
	font-family: 'Lato', sans-serif;
	color: #222;
}

section {
	width: 100%;
	padding: 0 50px 70px 50px;
	background: rgb(238, 238, 238);
	background: linear-gradient(194deg, rgb(230, 228, 228) 50%, rgb(215, 215, 215) 50%);
}

a {
	color: inherit;
	text-decoration: none;
}

.main-color {
	color: $main-color;
	user-select: none;
}

.fa-solid {
	margin-right: 30px;
}
