@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import 'addons';

header {
	background-image: url('../img/header-image.webp');
	background-size: cover;
	height: 100vh;
	user-select: none;
	color: $light-gray;

	.top-section {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 40px;
	}

	.title {
		font-size: 5vw;
		text-shadow: 5px 5px 5px $shadow-color;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			width: 0.8vw;
			height: 0.8vw;
			bottom: 0;
			margin: 0 0 1vw 1vw;
			background-color: $main-color;
			box-shadow: 5px 5px 5px $shadow-color;
		}
	}

	.menu {
		display: flex;
		list-style: none;

		&__element {
			font-size: 2vw;
			margin-left: 50px;
			width: fit-content;
			cursor: pointer;
			text-shadow: 2px 2px 2px $shadow-color;

			&::after {
				content: '';
				display: block;
				width: 0;
				height: 8%;
				margin-top: 6px;
				background: $main-color;
				transition: width 0.4s;
			}

			&:hover::after {
				width: 100%;
			}
		}
	}

	.arrows {
		width: 60px;
		height: 100px;
		position: absolute;
		left: 50%;
		bottom: 2vh;
		margin-left: -30px;
		transform: scale(1);

		&__one {
			animation-delay: -0.5s;
		}

		&__two {
			animation-delay: -0.25s;
		}

		&__three {
			animation-delay: 0s;
		}
	}

	path {
		stroke: $light-gray;
		fill: transparent;
		stroke-width: 5px;
		animation: arrows 2s infinite;
	}

	@keyframes arrows {
		0% {
			opacity: 0;
		}

		40% {
			opacity: 1;
		}

		80% {
			opacity: 0;
		}

		100% {
			opacity: 0;
		}
	}

	@media screen and (max-width: 1400px) {
		.title {
			text-shadow: 4px 4px 4px $shadow-color;

			&::after {
				box-shadow: 4px 4px 4px $shadow-color;
			}
		}

		.menu {
			&__element {
				text-shadow: 1px 1px 1px $shadow-color;
			}
		}

		.arrows {
			transform: scale(0.8);
		}
	}

	@media screen and (max-width: 992px) {
		.top-section {
			padding: 0 20px;
		}

		.title {
			font-size: 50pt;

			&::after {
				width: 10px;
				height: 10px;
				margin: 0 0 1.4vw 1vw;
			}
		}

		.menu {
			&__element {
				font-size: 20px;
				margin-left: 30px;

				&::after {
					margin-top: 3px;
				}
			}
		}

		.arrows {
			transform: scale(0.7);
		}
	}

	@media screen and (max-width: 768px) {
		background-position: 35%;

		.top-section {
			flex-direction: column;
			padding: 0;
		}

		.title {
			font-size: 13vw;
			text-shadow: 2px 2px 2px $shadow-color;

			&::after {
				box-shadow: 2px 2px 2px $shadow-color;
				width: 2vw;
				height: 2vw;
				margin: 0 0 2.5vw 1.5vw;
			}
		}

		nav {
			width: 100%;
			padding: 0 100px;
		}

		.menu {
			margin-top: 25px;
			justify-content: space-around;
			&__element {
				font-size: 3.5vw;
				margin: 0;
			}
		}
	}

	@media screen and (max-width: 576px) {
		.title {
			font-size: 16vw;

			&::after {
				width: 2.7vw;
				height: 2.7vw;
				margin: 0 0 3vw 2vw;
			}
		}

		nav {
			padding: 0 50px;
		}

		.menu {
			margin-top: 15px;

			&__element {
				font-size: 5vw;

				&::after {
					height: 9%;
				}
			}
		}

		.arrows {
			transform: scale(0.6);
		}
	}
}

main {
	.about {
		text-align: justify;
		line-height: 1.8;

		&__header {
			font-size: 4vw;
			text-align: center;
		}

		&__paragraph {
			font-size: 1.5vw;
		}

		@media screen and (max-width: 992px) {
			&__paragraph {
				font-size: 1.8vw;
			}
		}

		@media screen and (max-width: 768px) {
			line-height: 1.6;

			&__header {
				font-size: 7vw;
			}

			&__paragraph {
				font-size: 2vw;
			}
		}

		@media screen and (max-width: 576px) {
			line-height: 1.5;
			padding: 0 25px 35px 25px;

			&__header {
				font-size: 8vw;
				padding: 10px 0;
			}

			&__paragraph {
				font-size: 3.5vw;
			}
		}
	}

	.hero-image {
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0.85;
		height: 100vh;
		background-image: url('../img/hero-image.webp');
		background-size: cover;

		&__header {
			text-align: center;
			color: white;
			text-shadow: 4px 4px 4px $shadow-color;
			font-size: 7vw;
			user-select: none;
		}

		@media screen and (max-width: 1400px) {
			&__header {
				text-shadow: 3px 3px 3px $shadow-color;
			}
		}

		@media screen and (max-width: 992px) {
			&__header {
				font-size: 8vw;
			}
		}

		@media screen and (max-width: 768px) {
			background-position: 30%;

			&__header {
				font-size: 9vw;
				text-shadow: 2px 2px 2px $shadow-color;
			}
		}

		@media screen and (max-width: 576px) {
			padding: 0 25px 35px 25px;
			&__header {
				font-size: 10vw;
			}
		}
	}

	.team {
		&__header {
			font-size: 4vw;
			text-align: center;
			padding: 30px;
		}

		&__content {
			display: flex;
			justify-content: space-around;
		}
	}

	.card {
		position: relative;
		height: 80vh;
		width: 25%;
		background-color: $white;
		background-size: cover;
		text-align: center;
		border-radius: 15px;
		box-shadow: 6px 6px 6px $shadow-color;
		overflow: hidden;

		&--one {
			background-image: url('../img/Anna-Kowalska-CEO.webp');
			background-position: 45% center;
		}

		&--two {
			background-image: url('../img/Jan-Nowak-HR.webp');
			background-position: 60% 0%;
			background-size: 150%;
		}

		&--three {
			background-image: url('../img/Adam-Wiśniewski-IT.webp');
			background-position: 80% center;
		}

		&__btn {
			position: absolute;
			top: 10px;
			right: 10px;
			padding: 10px;
			color: $white;
			background: none;
			border: none;
			font-size: 36px;
			text-shadow: 3px 3px 3px $shadow-color;
			cursor: crosshair;
			z-index: 1;

			&:hover ~ .card__text {
				clip-path: circle(120% at 50% 50%);
			}
		}

		&__text {
			position: absolute;
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			padding: 80px 30px;
			text-align: justify;
			color: $light-gray;
			font-size: 1vw;
			opacity: 0.9;
			clip-path: circle(0 at 50% 90%);
			transition: clip-path 0.8s;
			background-color: rgba(0, 0, 0, 0.85);

			&__header {
				color: $main-color;
				font-size: 50pt;
				text-align: center;
			}

			&__person {
				margin-bottom: 30px;
				text-align: center;
			}
		}
	}

	@media screen and (max-width: 1400px) {
		.card {
			&--two {
				background-size: 190%;
			}

			&--three {
				background-position: 80% center;
			}

			&__btn {
				font-size: 2.5vw;
				padding: 0 0 20px 20px;
			}

			&__text {
				padding: 40px 15px;
				font-size: 0.9vw;

				&__header {
					font-size: 3vw;
				}

				&__person {
					margin-bottom: 15px;
				}
			}
		}
	}

	@media screen and (max-width: 992px) {
		section {
			padding: 0 25px 15px 25px;
		}

		.team {
			&__content {
				flex-direction: column;
				justify-content: center;
			}
		}

		.card {
			width: 55%;
			height: 85vh;
			margin: 0 auto 40px auto;

			&--two {
				background-size: 160%;
			}

			&__btn {
				font-size: 3vw;
			}

			&__text {
				font-size: 2vw;

				&__header {
					font-size: 5vw;
				}
			}
		}
	}

	@media screen and (max-width: 768px) {
		.team {
			&__header {
				font-size: 7vw;
			}
		}
		.card {
			width: 55%;
			height: 70vh;

			&--two {
				background-size: 150%;
			}

			&__btn {
				font-size: 5vw;
			}

			&__text {
				&__header {
					font-size: 6vw;
				}
			}
		}
	}

	@media screen and (max-width: 576px) {
		.team {
			padding: 0;

			&__header {
				font-size: 8vw;
			}
		}
		.card {
			width: 85%;
			height: 50vh;

			&--two {
				background-size: 220%;
			}

			&--three {
				background-position: 80%;
			}

			&__btn {
				font-size: 7vw;
			}

			&__text {
				font-size: 3vw;
				&__header {
					font-size: 7vw;
				}
			}
		}
	}
}

.contact {
	display: flex;
	justify-content: space-around;
	height: fit-content;
	text-align: center;
	padding-top: 1vh;

	.form {
		&__title {
			margin: 4vh;
			font-size: 6vh;
			font-weight: 700;
		}

		&__alternate {
			font-size: 0;
			font-weight: 700;
		}

		&__input,
		&__submit {
			width: 40vh;
			height: 2vw;
			border: 0;
			margin-bottom: 1vh;
			font-size: 1.1vw;
			text-align: center;
			user-select: none;
			transition: width 0.25s, box-shadow 0.25s;
		}

		&__input {
			background-color: $white;
			color: $gray;

			&:hover,
			&:focus {
				outline: none;
				width: 45vh;
				box-shadow: 3px 3px 3px $shadow-color;
			}
		}

		&__message {
			width: 40vh;
			height: 10vw;
			font-size: 1.1vw;
			font-family: inherit;
			text-align: center;
			color: $gray;
			border: 0;
			margin-bottom: 1vh;
			padding: 1vh;
			transition: width 0.25s, padding 0.25s, box-shadow 0.25s;
			resize: none;

			&:hover,
			&:focus {
				width: 45vh;
				padding: 1vh 3.5vh;
				box-shadow: 3px 3px 3px $shadow-color;
				outline: none;
			}
		}

		&__submit {
			cursor: pointer;
			color: $darker-light;
			background-color: $main-color;

			&:hover,
			&:focus {
				width: 45vh;
				box-shadow: 3px 3px 3px $shadow-color;
				outline: none;
			}
		}
	}

	.map {
		&__title {
			font-size: 6vh;
			font-weight: 700;
			margin: 4vh;
		}

		&__content {
			width: 32vw;
			height: 42vh;
			border: 0;
			box-shadow: 3px 3px 3px $shadow-color;
			user-select: none;
		}

		&__label {
			display: block;
			font-size: 2.5vw;
			margin-top: 3vh;
			cursor: text;
		}
	}

	@media screen and (max-width: 1400px) {
		justify-content: space-between;
	}

	@media screen and (max-width: 992px) {
		.form {
			&__title {
				font-size: 5vw;
			}

			&__input,
			&__submit {
				height: 4vw;
				font-size: 1.5vw;
			}

			&__message {
				height: 14vw;
				font-size: 1.5vw;
			}
		}

		.map {
			&__title {
				font-size: 5vw;
			}
		}
	}

	@media screen and (max-width: 768px) {
		flex-direction: column;
		padding: 0 30px;

		.form {
			&__title {
				font-size: 0;
				margin: 0;
			}

			&__alternate {
				margin: 20px 0;
				font-size: 5vw;
			}

			&__input,
			&__submit {
				height: 5vw;
				width: 55vw;
				font-size: 2.6vw;

				&:hover,
				&:focus {
					width: 57vw;
				}
			}

			&__message {
				height: 20vw;
				width: 55vw;
				font-size: 2.6vw;

				&:hover,
				&:focus {
					width: 57vw;
				}
			}
		}

		.map {
			&__title {
				font-size: 0;
				margin: 10px;
			}

			&__content {
				width: 55vw;
				height: 60vh;
			}

			&__label {
				font-size: 3.5vw;
				margin-bottom: 4vw;
			}
		}

		.fa-solid {
			margin-right: 10px;
		}
	}

	@media screen and (max-width: 576px) {
		.form {
			&__alternate {
				font-size: 7vw;
			}

			&__input,
			&__submit {
				height: 8vw;
				width: 70vw;
				font-size: 3.5vw;

				&:hover,
				&:focus {
					width: 72vw;
				}
			}

			&__message {
				height: 30vw;
				width: 70vw;
				font-size: 3.5vw;

				&:hover,
				&:focus {
					width: 72vw;
				}
			}
		}

		.map {
			&__content {
				width: 70vw;
				height: 50vh;
			}

			&__label {
				font-size: 5vw;
			}
		}
	}
}

footer {
	.footer {
		&__content {
			font-size: 1vw;
			padding: 15px;
			color: $darker-light;
			text-align: center;
		}

		@media screen and (max-width: 992px) {
			&__content {
				font-size: 1.7vw;
				padding: 5px;
			}
		}

		@media screen and (max-width: 576px) {
			&__content {
				font-size: 2vw;
				padding: 5px;
			}
		}
	}
}
