### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow, Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule strona_glowna index.html
RewriteRule o_naszym_projekcie subpages/about.html
